<div>
  <div>
    <h2>Clientes</h2>
    <button>Cadastrar</button>
  </div>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col" class="w-50">Nome</th>
        <th scope="col" class="text-center">Pagos</th>
        <th scope="col" class="text-center">Abertos</th>
        <th scope="col" class="text-center">Atrasados</th>
        <th scope="col" class="w-25">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cliente teste</td>
        <td class="text-center" class="text-center">
          <span class="bg-success bg-opacity-25 text-success number_box">1</span>
        </td>
        <td class="text-center">
          <span class="bg-primary bg-opacity-25 text-primary number_box">2</span>
        </td>
        <td class="text-center" class="text-center">
          <span class="bg-danger bg-opacity-25 text-danger number_box">3</span>
        </td>
        <td>
          <button class="btn btn-primary btn-sm me-2">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger btn-sm me-2">
            <i class="fa fa-trash"></i>
          </button>
          <button class="btn btn-dark btn-sm px-4">
            Cobranças
          </button>
        </td>
      </tr>
      <tr>
        <td>Cliente teste</td>
        <td class="text-center">2</td>
        <td class="text-center">3</td>
        <td class="text-center">4</td>
        <td>
          <button class="btn btn-primary btn-sm me-2">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger btn-sm me-2">
            <i class="fa fa-trash"></i>
          </button>
          <button class="btn btn-dark btn-sm px-4">
            Cobranças
          </button>
        </td>
      </tr>
      <tr>
        <td>Cliente teste</td>
        <td class="text-center">3</td>
        <td class="text-center">4</td>
        <td class="text-center">5</td>
        <td>
          <button class="btn btn-primary btn-sm me-2">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger btn-sm me-2">
            <i class="fa fa-trash"></i>
          </button>
          <button class="btn btn-dark btn-sm px-4">
            Cobranças
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
