.container_h {
  min-height: 100vh;
  background: #EBEBEB;
}

.box_bg {
  background: #fff;
}

.w-min {
  min-width: 100px;
}

.number_box {
  width: 20px;
  aspect-ratio: 1/1;
  display: inline-block;
  border-radius: 100%;
}
